@import "./variables.scss";

//Dasboard style

.dashboard-wrapper{
    // padding:3rem;
    width:100%;
    .dashboard{
        border:2px solid $primary-color;
        .profile-picture{
            position:relative;
            text-align: center;
            margin:0 auto;
            height:40vh;
            width:100%;
            img{
                width:10rem;
                left:45%;
                bottom:0;
                position: absolute;
                border:3px solid $second-color;
                border-radius:0.2rem;
            }
        }
        .details{
            display: flex;
            justify-content: space-around;
            .profile-details{
                text-align:left;
                // width:100%;
            }
            .edit-details{
                height:50vh;
                // width:50%;
                // border-top:2px solid $primary-color;
                right:0;
                button{
                    display:block;
                    // margin:1rem auto;
                    width:10rem;
                    border-radius: 0.5rem;
                    padding:0.5rem;
                    border: 2px solid $primary-color;
                    background-color:transparent;
                    color: $second-color;
                    cursor: pointer;
                    &:hover{
                        background-color: $primary-color;
                        color:#fff;
                    }
                }
            }
        }
    }
}