@import "./variables.scss";


.modal-wrapper{
    background-color: red;
    overflow: scroll;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1050;
    width: 100vw;
    height: 100%;
    outline: 1;
    background-color: rgba(0, 0, 0, 0.125);
    transition: transform 0.3s ease-out;
    // pointer-events: none;
    .modal-inner {
        margin: 0 auto;
        top: 10%;
        border-radius: 1%;
        background-color: #fff;
        padding: 1rem;
        width: 40rem;
        height: auto;
        text-align: left;
        position: relative;
        .container {
        padding: 1rem;
        }
        h3 {
        position: absolute;
        font-size: 1.5rem;
        top: 5px;
        right: 5px;
        cursor: pointer;
        opacity: 0.5;
        &:hover {
            opacity: 1;
            color: #1589cb;
        }
        }
        .modal-btn {
        display: flex;
        justify-content: flex-end;
    
        .btn {
            margin: auto 0;
            width: auto;
        }
        }
    }
      
}